* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jaldi', sans-serif;
}

/* Hides every scroll bar on the page */
::-webkit-scrollbar {
    display: none;
}

.sectionContent {
  font-size: 24px;
  margin-left: 20px;
}


#about {
  padding: 40px 0 40px 0;
  background-image: url('../src/img/geometry.png');
}

.logo {
  width: 120px;
  height: 120px;
}

.logo:hover {
  cursor: pointer;
}

#accounts {
  list-style-type: none;
  text-align: center;
}

#accounts li {
    display: inline-block;
    margin-right: 20px;
}


body{
  min-width: 300px;
  overflow-x: hidden;
}


.jumbotron {
  color: white !important;
  /** 'Seoul during Monsoon' taken by reddit user /u/then0mads0ul
  https://i.imgur.com/ZfqmFfN.jpg
  **/
  background-image: url('../src/img/seoul.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 0 !important;
  height: 100vh;

}

.jumbotron-fluid{
  margin-bottom: 0;
}

#collapse {
	padding: 40px 0 40px 0;
	background-color: lightgray;
}

.header {
  margin-top: 10vw;
}

.header div h1{
  font-size: 48px;
}

.header div .lead {
  font-size: 36px;
}

/** Nav **/

#nav li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;

}

#nav li a {
  color: white;
  display: inline-block;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  width: 100px;
  text-align: center;
  position: relative;
  transition: background-color 1s;
}


#nav li a:hover {
  text-decoration: none;
  background-color: rgb(109, 121, 182);
}



#profile-picture {
  z-index: 1;
  width: 140px;
  height: 140px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 auto 0 auto;
  position: relative;
  top: 40px;
  background-image: url('../src/img/profile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#arrow-down {
  display: block;
  position: relative;
  top: 120px;
  text-align: center;
  font-size: 20px;
}

.sectionTitle {
  font-size: 56px;
  margin-left: 7px;
}


#projects{
 font-size: 18px;
 padding: 110px 5px 0 5px;
}

.projectBackgroundColor {
  width: 100%;
  background-color: #b3b3cc;
}

#projects .row {
  margin: 0; padding: 0;
}

.card {
  background-color: white;
  position: relative;
  bottom: 60px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 2px
 #333333;
  min-height: 300px;
  max-width: 400px;
  min-width: 150px;
}

@media screen and (max-width: 768px){
  .card {
    margin: 0 auto 10px auto;
  }
}

.card-image {

  border-radius: 10px;
  height: 100px;
  background-size: cover;
}

#app1img {
  background-image: url("../src/img/weather.jpg")
}

#app2img {
  background-image: url("../src/img/breakout.png")
}

#app3img {
  background-image: url("../src/img/inventory.png")
}

.card-content {
  margin: 0px;
  overflow: hidden;
}

.viewBtn {
  /* positioned absolutely from first parent element that is
  positioned (.card pos = relative)

  up 20px from bottom
  width = 50% of .card
  move left half of width(25%) to position in center*/

  position: absolute;
  bottom: 15px;
  left: 25%;
  width: 50%;
  border-color: black;
  color: white !important;
  background-color: #6d79b6 !important;
}

.viewBtn:hover{
  border-color: black;
  background-color: #61698f;
  color: white;
}

#builds {
  height: 150px;
  background-color: #6d79b6;
  overflow: hidden;
}

#builds #modalBtn {
  display: block;
  margin: 50px auto;
  width: 44%;
  border: 1px solid white;
  background-color: #6d79b6;
  color: white;
  min-width: 150px;
  max-width: 400px;
  height: 50px;
  text-align: center;
  overflow: hidden;
}

#builds #modalBtn:hover{
  cursor: pointer;
  background-color: #61698f;
}

.modal-cover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.2)
}

.modal-container{
  width: 80%;
  max-width: 800px;
  min-width: 300px;
  border-radius: 5px;
  margin: 0 auto 0 auto;
  background-color: #fff;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: scroll;

  position: relative;
  top: 20px;
  min-height: 400px;
}

.modal-title {
  text-align: center;
}

.modal-X {
  float: right;
}

.modal-X {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border: 1px solid black;
  border-radius: 50%;
}

.modal-X:hover {
  cursor: pointer;
}

.major {
  display: inline;
  border-bottom: 1px solid black;
}

.date {
  display: inline;
  float: right;
}

.points {
  margin: 4px 0 4px 26px;
}

.projectBackgroundColor h1,
.projectBackgroundColor p {
  padding-top: 20px;
  color: black;
}

.textFadedBackground {
  padding: 10px 0px 10px 40px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7)
}

#github:hover, #codepen:hover {
  -webkit-animation: pulse 1s;
  animation: pulse 1s;

}


@media only screen and (max-width: 540px) {
    #nav li {
      margin: ;
    }
    #nav li a{
      color: white;
      display: inline-block;
      border: 1px solid white;
      border-radius: 5px;
      padding: 5px;
      font-size: 12px;
      width: 50px;
      text-align: center;
      position: relative;
      transition: background-color 1s;
    }
    }
}
