@import url('https://fonts.googleapis.com/css?family=Gugi');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

*    { margin    : 0     ; padding    : 0      ; box-sizing : border-box ; }
body { min-width : 300px ; overflow-x : hidden ;                           }
.scarlet { color : #cc0033 ; }
/*

  LANDING [ START ]

-------------------------*/

.jumbotron {
  background-image: url("https://i.imgur.com/BpTwvHA.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 0 !important;
  height: 100vh;
  min-height: 550px;
}

.jumbotron .header {
  font-family : 'Gugi', sans-serif ;
  position    : relative           ;
  z-index     : 2                  ;
  margin      : auto               ;
  width       : 500px              ;
  color       : white              ;
  top         : 50px               ;
}

.jumbotron .header h1 {
  font-size : 10em ;
  margin    : auto ;
}

.jumbotron .header h1 span {
    font-family : 'Gugi', sans-serif ;
    font-size   : 40px               ;
}

.jumbotron .header .inner {
  position : relative ;
  bottom   : 10px     ;
  left     : 220px    ;
}

.jumbotron .header .inner h3 {
  padding-left : 20px               ;
  font-family  : 'Gugi', sans-serif ;
  margin       : auto               ;
  width        : 500px              ;
}

.jumbotron .header .inner h2 {
  position : relative ;
  right    : 250px    ;
  top      : 40px     ;
}

.first {
  -webkit-animation-duration : 3s   ;
  -moz-animation-duration    : 3s   ;
  -o-animation-duration      : 3s   ;
  animation-duration         : 3s   ;
  animation-delay            : 1.5s ;
}

.second {
  -webkit-animation-duration : 3s   ;
  -moz-animation-duration    : 3s   ;
  -o-animation-duration      : 3s   ;
  animation-duration         : 3s   ;
  animation-delay            : 2.9s ;
}

.third{
  -webkit-animation-duration : 3s   ;
  -moz-animation-duration    : 3s   ;
  -o-animation-duration      : 3s   ;
  animation-duration         : 3s   ;
  animation-delay            : 4.0s ;
}

.fourth {
  -webkit-animation-duration : 6s   ;
  -moz-animation-duration    : 6s   ;
  -o-animation-duration      : 6s   ;
  animation-duration         : 6s   ;
  animation-delay            : 6.0s ;
}

.scroll-wrapper {
  position: relative;
  margin: auto;
  top: 160px;
  width: 100px;
  height: 100px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
}

.scroll-wrapper .scroll-link{
  font-style:italic;
  position: absolute;
  color: white;
  width: 100%;
  text-align: center;
  padding: 60px 0 0 0;
  text-decoration: none;
}

.scroll-wrapper .scroll-link:hover {
  text-decoration : none  ;
  color           : white ;
}

.scroll-wrapper .scroll-link .scroll-icon {
  position: absolute;
  width: 46px;
  height: 46px;
  top: 0;
  left: 29px;
  border: 2px solid #FFF;
  border-radius: 100%;
  box-sizing: border-box;
  /* box-shadow: 0px 0px 7px 2px pink; */
}



.scroll-wrapper .scroll-link .scroll-icon::before {
  -webkit-animation : blinking 4s 10                  ;
  border-radius     : 50%                             ;
  box-shadow        : 0 0 0 0 rgba(255, 255, 255, .1) ;
  animation         : blinking 4s 10                  ;
  position          : absolute                        ;
  content           : ''                              ;
  opacity           : 0                               ;
  height            : 44px                            ;
  width             : 44px                            ;
  left              : 0                               ;
  top               : 0                               ;
}

.scroll-wrapper .scroll-link .scroll-icon::after {
  -webkit-transform : rotate(-45deg) ;
  border-right      : 1px solid #fff ;
  border-top        : 1px solid #fff ;
  box-sizing        : border-box     ;
  transform         : rotate(-45deg) ;
  position          : absolute       ;
  content           : ''             ;
  height            : 16px           ;
  margin            : -6px 0 0 -8px  ;
  width             : 16px           ;
  left              : 50%            ;
  top               : 50%            ;
}

@-webkit-keyframes blinking {
  0%   { opacity : 0 ; }
  30%  { opacity : 1 ; }
  60%  {
    box-shadow : 0 0 0 60px rgba(255, 255, 255, .1) ;
    opacity    : 0                                  ;
  }
  100% { opacity : 0 ; }
}

keyframes blinking {
  0%   { opacity : 0 ; }
  30%  { opacity : 1 ; }
  60%  {
    box-shadow : 0 0 0 60px rgba(255, 255, 255, .1) ;
    opacity    : 0                                  ;
  }
  100% { opacity : 0 ; }
}

/*-------------------------

  LANDING [ END ]

-------------------------*/

/*-------------------------

  HEADER [ START ]

-------------------------*/
#collapse-menu { display : none ; }

.nav {
  background-color : #000              ;
  position         : sticky            ;
  z-index          : 1                 ;
  bottom           : 0                 ;
  height           : 90px              ;
  border           : 1px solid #323233 ;
  width            : 100%              ;
  color            : #FFF              ;
}

/* LOGO */

.nav .logo {
  border-left   : 1px               ;
  border-right  : 1px               ;
  border-top    : 0                 ;
  border-bottom : 0                 ;
  border-color  : #323233           ;
  border-style  : solid             ;
  margin-left   : 40px              ;
  display       : inline-block      ;
  height        : 90px              ;
  width         : 130px             ;

}

.nav .logo a {
  text-decoration : none           ;
  font-weight     : bold           ;
  text-align      : center         ;
  font-size       : 28px           ;
  position        : relative       ;
  display         : block          ;
  margin          : 0 10px 0 10px  ;
  border          : 1px solid #FFF ;
  color           : white          ;
  top             : 25px           ;
}

.nav .logo a:hover { color : blue ; }

/* MENU ITEMS */

.nav .nav_list_wrapper {
  margin-right : 40px         ;
  position     : absolute     ;
  display      : inline-block ;
  height       : 90px         ;
  right        : 0            ;
}

.nav .nav_list_wrapper .nav_list {
  list-style-type : none     ;
  margin-bottom   : 0        ;
  position        : relative ;
  height          : 90px     ;
}

.nav .nav_list_wrapper .nav_list li {
  border-left   : 1px          ;
  border-right  : 1px          ;
  border-top    : 0            ;
  border-bottom : 0            ;
  border-color  : #323233      ;
  border-style  : solid        ;
  margin-left   : -5px         ;
  position      : relative     ;
  display       : inline-block ;
  height        : 90px         ;
}

.nav .nav_list_wrapper .nav_list li a {
  text-decoration : none                         ;
  text-transform  : uppercase                    ;
  font-weight     : bold                         ;
  transition      : color, background-color 0.5s ;
  text-align      : center                       ;
  position        : relative                     ;
  padding         : 35px 14px 30px 14px          ;
  display         : block                        ;
  height          : 90px                         ;
  color           : white                        ;
}

.nav .nav_list_wrapper .nav_list li a:hover {
  background-color : #FFF ;
  color            : #000 ;
}

@media screen and (max-width: 726px) {
  .nav .nav_list_wrapper { display : none ; }
  #collapse-menu input   { display : none ; }
  #collapse-menu {
    transition : color, background-color 0.8s ;
    position   : absolute                     ;
    display    : inline-block                 ;
    height     : 100%                         ;
    border     : 1px solid #323233            ;
    right      : 40px                         ;
    width      : 90px                         ;
  }

  #collapse-menu:hover {
    background-color : #FFF    ;
    cursor           : pointer ;
    color            : #000    ;
  }

  .collapse-icon {
    position   : absolute        ;
    text-align : center          ;
    font-size  : 42px            ;
    width      : 50px            ;
    left       : 20px            ;
    top        : 22px !important ;
  }
}
/*-------------------------

  HEADER [ END ]

-------------------------*/


#about {
  display: flex;
  background-color: #0d001a;
  color: #FFF;
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  width: 100%;
  min-height: 640px;
  padding: 40px 0;
}

#about .flex-about{
  flex: 3;
  padding: 0 40px 0 40px;
}

#about .flex-about p {
  text-align: justify;
}


#about .flex-filler {
  flex: 0.1;
}

#about .flex-technical {
  flex: 3;
}

#about .flex-technical h4 {
  font-style: italic;
}

#about .flex-technical .tech-container i {
  position: relative;
  display: inline-block;
  padding: 16px;
  font-size: 56px;
  margin-top: 10px;

}

#about .flex-technical .tech-container i .tooltip-text {
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 0px;
  color: #FFF;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  background-color: #000;
  border: 2px solid #323233;
  padding: 4px;
  border-radius: 6px;
  transition: opacity 1s ease;
}

#about .flex-technical .tech-container i:hover .tooltip-text {
  opacity: 1;
}



.sectionTitle {
  font-size: 56px;
  margin-left: 7px;
}
/*-------------------------

  PROJECTS [ START ]

-------------------------*/

#project-wrapper {
  flex-direction: row      ;
  flex-wrap     : nowrap   ;
  position      : relative ;
  display       : flex     ;
  height        : 400px    ;
  width         : 100%     ;
}

#project-wrapper .project-inner {
  overflow : hidden ;
  width    : 100%   ;
}

#project-wrapper .project-img {
  transition          : transform .8s ease ;
  transform           : scale(1.4)         ;
  background-position : center             ;
  background-size     : cover              ;
  height              : 100%               ;
  width               : 100%               ;
}

#project-wrapper .project-img:hover {
  transform : scale(1.0) ;
  cursor    : pointer    ;
}

#project-wrapper .project-img:hover::before {
  background-color : rgba(128, 0, 128, 0.5) ;
  position         : absolute               ;
  content          : ''                     ;
  height           : 100%                   ;
  width            : 100%                   ;
  left             : 0                      ;
  top              : 0                      ;


}

#project-wrapper .project-img a {
  text-decoration : none                      ;
  text-transform  : uppercase                 ;
  font-family     : 'Do Hyeon', sans-serif    ;
  text-align      : center                    ;
  font-size       : 32px                      ;
  position        : absolute                  ;
  display         : none                      ;
  height          : 30px                      ;
  margin          : auto                      ;
  color           : white                     ;
  top : 0 ; left : 0 ; bottom : 0 ; right : 0 ;
}

#project-wrapper .project-img:hover a { display : block ;}

#project1 { background-image: url("https://source.unsplash.com/DcKtooTyuuQ/"); }
#project2 { background-image: url("https://source.unsplash.com/HRZUzoX1e6w/"); }
#project3 { background-image: url("https://source.unsplash.com/BpqDaDxG48w/"); }

/* small screen */
@media screen and (max-width: 600px) {
  #project-wrapper {
    flex-direction: row      ;
    flex-wrap     : wrap     ;
    position      : relative ;
    display       : flex     ;
  }
}

/*-------------------------

  PROJECTS [ END ]

-------------------------*/




.viewBtn {
  /* positioned absolutely from first parent element that is
  positioned (.card pos = relative)

  up 20px from bottom
  width = 50% of .card
  move left half of width(25%) to position in center*/

  position: absolute;
  bottom: 15px;
  left: 25%;
  width: 50%;
  border-color: black;
  color: white !important;
  background-color: #6d79b6 !important;
}

.viewBtn:hover{
  border-color: black;
  background-color: #61698f;
  color: white;
}

#builds {
  height: 150px;
  background-color: #6d79b6;
  overflow: hidden;
}

#builds .btnToggle {
  display: block;
  margin: 50px auto;
  width: 44%;
  border: 1px solid white;
  background-color: #6d79b6;
  color: white;
  min-width: 150px;
  max-width: 400px;
  height: 50px;
  text-align: center;
  overflow: hidden;
}

#builds .btnToggle:hover{
  cursor: pointer;
  background-color: #61698f;
}






.points {
  margin: 4px 0 4px 26px;
}

.projectBackgroundColor h1,
.projectBackgroundColor p {
  padding-top: 20px;
  color: black;
}

.textFadedBackground {
  padding: 10px 0px 10px 40px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7)
}

#accounts {
  list-style-type: none;
  text-align: center;
}

#accounts li {
    display: inline-block;
    margin-right: 20px;
}


#codepen, #github {
  width: 128px;
  height: 128px;
}

#github:hover, #codepen:hover {
  -webkit-animation: p.nav_listse 1s;
  animation: p.nav_listse 1s;

}
