<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Michael J. Manney | Front End Developer</title>
  <!-- Favicon -->
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <!-- DEV ICONS konpa.github.io/devicon -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <!-- CSS -->
  <link rel="stylesheet" href="css/style.css">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jaldi">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="src/libs/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <!-- Animate -->
  <link rel="stylesheet" href="src/libs/animate/animate.css">
  <!-- SCRIPTS -->
  <!-- jQuery library -->
  <script src='src/libs/jquery/jquery-3.3.1.min.js' type="text/javascript"></script>
  <!-- Latest compiled JavaScript -->
  <script src='src/libs/bootstrap-3.3.7-dist/js/bootstrap.min.js' type="text/javascript"></script>
  <!-- Vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <!-- Google Maps -->
  <script src="js/embedded-map.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCig9ko9Z4VEtOy7e9hqFvWCRiAaKTzfVY&callback=onGoogleScript"></script>
  <!-- JS -->
  <script src="js/script.js" type="text/javascript"></script>
</head>

<body>
<!--

  MOBILE HIDDEN MENU [ START ]

-->
<div id="modal-menu">
  <div id="close">
    <a href="" class="smooth-scroll">
      <span class="glyphicon glyphicon-remove-sign"></span>
    </a>
  </div>
  <ul class='modal-ul'>
    <li><a href="#landing" class="smooth-scroll">Home</a></li>
    <li><a href="#about"   class="smooth-scroll">About</a></li>
    <li><a href="#pAnchor" class="smooth-scroll">Projects</a></li>
    <li><a href="#resume"  class="smooth-scroll">Resume</a></li>
    <li><a href="#contact" class="smooth-scroll">Contact</a></li>
  </ul>
</div>
<!--

  MOBILE HIDDEN MENU [ END ]

-->
<!--

  FOOTER [ START ]

-->
<div id="footer">
  <div id="footer-wrap">
    <p>&copy; 2018 Michael J. Manney</p>
    <p>The icons and images on this site were made available for free from:</p>
    <ul>
      <li><a href="http://www.pexels.com" target="_blank">pexels</a></li>
      <li><a href="http://konpa.github.io/devicon/" target="_blank">devicon project</a></li>
      <li><a href="http://glyphicons.com/" target="_blank">glyphicons</a></li>
    </ul>
</div>
</div>
<!--

  FOOTER[ END ]

-->
<!--

  CONTACT [ START ]

 -->
<div id="contact">
  <div id="contact-wrap">
      <div id="map"></div>
      <div id="heading">
        <p id="contact-heading">Say Hello</p>
        <p>
          You can find me somewhere around the red marker.    
          Or feel free to just send me a message.  While 
          you're waiting to hear back from me pass the time
          by reading my r&eacute;sum&eacute;.
        </p>
        <p>
          <span class="glyphicon glyphicon-envelope"></span>
          <a href="mailto:michaelmanney@gmail.com">michaelmanney@gmail.com</a>
        </p>
        <p>
          <span class="glyphicon glyphicon-phone"></span>
          <a href="tel:+18622585771">862 258 5771</a>
        </p>
        <p>
          <span class="glyphicon glyphicon-file"></span>
          <a href="src/downloads/michaeljmanney_resume.pdf" download>R&eacute;sum&eacute;</a>
        </p>
      </div>
      <div id="btn-grp">
        <p>Check me out elsewhere (will update with social media soon!)</p>
        <a href="https://github.com/mjmanney" class="icon" id="github"  target="_blank">Github</a>
        <a href="https://codepen.io/mmanney/" class="icon" id="codepen" target="_blank">Codepen</a>
      </div>
  </div>
</div>
<!--

  CONTACT [ END ]

 -->
 <!--

  RESUME [ START ]

 -->

 <!--

  RESUME [ END ]

 -->
 <!--

   PROJECTS [ START ]
   [ VUE.JS ]

 -->
 <div id="pAnchor"></div> 
 <!-- 
    For some reason, vue object has offsetTop = 0,
    so use pAnchor as href target for nav
  -->
 <div id="projects">
   <video v-if="c === 0" v-bind:src="p[c].src" type="video/mp4" autoplay loop muted></video> 
   <img   v-else v-bind:src="p[c].src" />
   <div id="wrapper">
     <h1> {{ p[c].t }} </h1>
     <p>  {{ p[c].d }} </p>
     <ul>
       <li id="tag" v-for="tag in p[c].tags"> {{ tag }}</li>
     </ul>
     <a  id="project-link" v-bind:href="p[c].l"> {{ p[c].s }}</a>
   </div>
   <div id="indicator" v-for="(projects, index) in p">
     <span class="i" v-bind:class="{'current': index === 0}"></span>
   </div>
   <button id="next" v-on:click="next" type="button" name="button"> > </button>
   <button id="prev" v-on:click="prev" type="button" name="button"> < </button>
 </div>
 <!--

   PROJECTS [ END ]

 -->
 <!--

   ABOUT [ START ]

 -->
 <div id="about">
   <div class="flex-about">
     <h3>WHO ARE YOU</h3>
     <p>
       Hi, my name is Michael.  I grew up on the cul-de-sac's of wooded suburban neighborhoods
       in North Jersey.  I graduated from a <span class='scarlet'>noisy college down on the banks
       of the Old Raritan</span> River.
    </p>

     <h3>WHAT IS YOUR PROFESSION</h3>
     <p>
       I am a freelance Front End Developer.  That means I create appealing and professional
       websites.  Additionally I work a full-time job in a technical account role,
       where I have used my <span class='js-yellow'>JavaScript</span> expertise on multiple projects.
     </p>

     <h3>WHERE ARE YOU HEADED</h3>
     <p>
       My dream is to become a Full Stack Developer and use my knowledge to create applications
       that benefit people and communities on any scale.
     </p>
     <h3>WHAT DO YOU DO FOR FUN</h3>
     <p>
       I enjoy trying out a new recipe, working on my Chess game, or watching The Wire.  Sometimes I go outside too.
     </p>
   </div>
   <div class="flex-filler"></div>
   <div class="flex-technical">
     <h2>Technical Skills</h2>
     <div class="tech-container">
       <div class="proficient">
         <h4>Comfortable</h4>
          <i class="devicon-html5-plain colored"><span class="tooltip-text">HTML5</span></i>
          <i class="devicon-css3-plain colored"><span class="tooltip-text">CSS3</span></i>
          <i class="devicon-javascript-plain colored"><span class="tooltip-text">JavaScript</span></i>
          <i class="devicon-jquery-plain colored"><span class="tooltip-text">jQuery</span></i>
          <i class="devicon-bootstrap-plain colored"><span class="tooltip-text">Bootstrap</span></i>
       </div>
       <div class="experienced">
         <h4>Experience (Limited)</h4>
          <i class="devicon-nodejs-plain colored"><span class="tooltip-text">Node.js</span></i>
          <i class="devicon-express-original colored"><span class="tooltip-text">Express.js</span></i>
          <i class="devicon-vuejs-plain colored"><span class="tooltip-text">Vue.js</span></i>
          <i class="devicon-java-plain colored"><span class="tooltip-text">Java</span></i>
          <i class="devicon-python-plain colored"><span class="tooltip-text">Python</span></i>
          <i class="devicon-mysql-plain colored"><span class="tooltip-text">mySQL</span></i>
       </div>
       <div class="tools">
         <h4>Tools</h4>
         <i class="devicon-atom-original colored"><span class="tooltip-text">Atom</span></i>
         <i class="devicon-git-plain colored"><span class="tooltip-text">Git</span></i>
       </div>
     </div>
   </div>
 </div>
 <!--

   ABOUT [ END ]

 -->
 <!--

   HEADER [ START ]

 -->
   <header id="nav" class="nav">
     <div class="logo">
       <a href="#landing" class="smooth-scroll">MJM</a>
     </div>
     <label id="collapse-menu">
      <input type="checkbox" id="checkbox" checked="false" autocomplete="off">
      <div class="glyphicon glyphicon-menu-hamburger collapse-icon"></div>
     </label>
     <div class="nav_list_wrapper">
       <!-- Navbar for large devices -->
       <ul class="nav_list">
           <li><a href="#about" class="smooth-scroll">About</a></li>
           <li><a href="#pAnchor" class="smooth-scroll">Projects</a></li>
           <li><a href="#resume" class="smooth-scroll">Resume</a></li>
           <li><a href="#contact" class="smooth-scroll">Contact</a></li>
         </ul>
     </div>
   </header>
 <!--

     HEADER [ END ]

 -->
 <!--

   USER LANDING [ START ]

 -->
 <div id="landing" class="jumbotron jumbotron-fluid">
   <div class="header">
     <h1>Design</h1>
     <div class="inner">
       <h2 class="animated fadeIn first">requires a solid foundation.</h2>
       <h2 class="animated fadeIn third">Then we can build anything.</h2>
       <div class="animated fadeIn fourth">MJM</div>
     </div>
   </div>
   <div class="scroll-wrapper animated fadeIn fourth ">
      <a class="scroll-link smooth-scroll" href="#about">
       <span class="scroll-icon"></span>
      </a>
  </div>
 </div>
 <!--

   USER LANDING [END]

 -->
</body>
</html>
